.proto-message-viewer {
  display: table;
  font-family: monospace;

  &-message {
    display: table-row;

    & > span {
      display: table-cell;
      padding: 2px 4px;
    }

    &-data {
      span {
        white-space: pre-wrap;
        word-break: break-all;
      }
    }
  }
}
