.proto-message-viewer {
  display: table;
  font-family: monospace;

  &-message {
    display: table-row;

    &-header {
      font-weight: bold;

      & > * {
        background-color: transparent !important;
        cursor: unset !important;
      }
    }

    & > span {
      display: table-cell;
      padding: 2px 8px;
    }

    &-byte,
    &-field-number,
    &-wire-type,
    &-data {
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: #eee;
      }

      &:active {
        background-color: #ddd;
      }
    }

    &-data {
      span {
        white-space: pre-wrap;
        word-break: break-all;
      }

      &-unprintable {
        background: #f00;
        color: #fff;
      }
    }
  }
}
